<div class="logged-user-w avatar-inline" *ngIf="loggedIn">
  <div class="logged-user-i">
    <div class="avatar-w">
      <img alt="profile" [src]='profilePicture'>
    </div>
    <div class="logged-user-info-w">
      <div class="logged-user-name">
        {{userName}}
      </div>
    </div>
  </div>
</div>
<br>
<button class="btn btn-outline-primary ml-5 mr-2" [disabled]="loggedIn"  (click)='signIn()'>
  Login
</button>

<button class="btn btn-outline-primary" (click)='signOut()'>
  Sign Out
</button>

<div class="input-group p-3">
  <input [(ngModel)]="syncCode" type="text" class="form-control" placeholder="Paste your sync code here" aria-label="Text input with button">
</div>
