<div class="element-wrapper">
  <h6 class="element-header">
    Today's Activity
  </h6>
  <div class="element-box-tp">
    <div class="activity-boxes-w">

      <!--<div class="activity-box-w">
        <div class="activity-time">
          3 Days
        </div>
        <a class="element-box el-tablo" href="#">
          <div class="label">
            December
          </div>
          <div class="value">
            1
          </div>
          <div class="trending">
            <div class="activity-info">
              <div class="activity-role">
                Jenny Miksa
              </div>
              <strong class="activity-title">Uploaded Image</strong>
            </div>
          </div>
        </a>
      </div>-->
    </div>
  </div>
</div>



